<div class="ui container">
  <h1>Butotn</h1>
  <button class="ui primary button">
    Save
  </button>
  <button class="ui button">
    Discard
  </button>

  <h1>Flag</h1>
  <i class="ae flag"></i>
  <i class="france flag"></i>
  <i class="myanmar flag"></i>

  <h1>Icons</h1>
  <i class="angle double down icon"></i>
  <i class="angle double left icon"></i>
  <i class="angle double right icon"></i>
  <i class="angle double up icon"></i>
</div>